{% extends 'base.html' %}
{% block title %}
<!-- the page title goes here -->
{% endblock %}

{% block content %}
<!-- content specific to this page goes here -->
<div class="card-group">
    {% for book in books %}
    <div class="card" style="width: 18rem">
        <div class="card-body">
            {% if book.cover %}
            <img src="{{ book.cover.url }}" alt="{{ book.title }} Cover"
                style="width: 50%; align-items: center; justify-content: center; margin-bottom: 25px;">

            {% endif %}
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
            <h7 class="card-subtitle mb-2 text-muted">{{ book.year }}</h7>
            <p class="card-text">{{ book.synopsis }}</p>
            <a href="{% url 'single_book' book.id %}" class="btn btn-primary">View Book</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}