{% extends 'base.html' %}
{% block title %}
<!-- the page title goes here -->
{% endblock %}

{% block content %}
<!-- content specific to the specific year goes here -->
<div class="container">
    <h1 class="text-center mt-5">Books published in {{ year }}</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    {% for book in books %}
                    <div class="book">
                        <h3>{{ book.title }}</h3>
                        <p class="mb-0 mt-4"><strong>Author:</strong> <a
                                href="{% url 'single_author' book.author.id %}">
                                {{ book.author }}</a>
                        </p>
                        <p class="mb-0"><strong>Published:</strong> {{ book.year }}</p>
                        <p class="mb-0"><strong>Category:</strong> {{ book.category }}</p>
                    </div>

                    {% if book.cover %}
                    <img src="{{ book.cover.url }}" alt="{{ book.title }} Cover" class="w-50 mb-25 mt-3">
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}